body {
  margin: 0 auto;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
form{
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 55vw;
  margin: 0 auto;
}
form input {
  padding: 5px;
  margin: 5px 0;
}
ul {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  width: 35vw;
}
li a{
  padding: 0.44em 0.44em;
  border: solid 1px slategrey;
  border-radius: 5px;
  background-color: slategrey;
  color: white;
}
li a:hover{
  background-color: black;
  color: goldenrod;
}
.error{
  color: #e73c3c;
  margin: 0;
  font-size: 0.8em;
  font-weight: bold;
}